@model IEnumerable<FellowshipTest.Models.Address>

<fieldset>
    
    @foreach (var addr in Model)
    {
        var item = (FellowshipTest.ViewModels.AddressView) addr;
        <div class="display-label">
            @Html.LabelFor(model => item.Addr.address1)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.address1)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.address2)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.address2)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.address3)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.address3)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.city)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.city)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.postalCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.postalCode)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.county)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.county)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.country)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.country)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.stProvince)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.stProvince)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.carrierRoute)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.carrierRoute)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.deliveryPoint)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.deliveryPoint)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.addressDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.addressDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.addressComment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.addressComment)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.uspsVerified)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.uspsVerified)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.addressVerifiedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.addressVerifiedDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.lastVerificationAttemptDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.lastVerificationAttemptDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.createdDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.createdDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.lastUpdatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.lastUpdatedDate)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => item.Addr.uri)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => item.Addr.uri)
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = item.Addr.id })
    }
</fieldset>
