@model IEnumerable<person>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            title
        </th>
        <th>
            salutation
        </th>
        <th>
            prefix
        </th>
        <th>
            firstName
        </th>
        <th>
            lastName
        </th>
        <th>
            suffix
        </th>
        <th>
            middleName
        </th>
        <th>
            goesByName
        </th>
        <th>
            formerName
        </th>
        <th>
            dateOfBirth
        </th>
        <th>
            isAuthorized
        </th>
        <th>
            employer
        </th>
        <th>
            formerChurch
        </th>
        <th>
            barCode
        </th>
        <th>
            memberEnvelopeCode
        </th>
        <th>
            defaultTagComment
        </th>
        <th>
            solicit
        </th>
        <th>
            thank
        </th>
        <th>
            firstRecord
        </th>
        <th>
            createdDate
        </th>
        <th>
            lastUpdatedDate
        </th>
        <th>
            uri
        </th>
        <th>
            imageURI
        </th>
        <th>
            oldID
        </th>
        <th>
            oldHouseholdID
        </th>
        <th>
            iCode
        </th>
        <th>
            householdID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salutation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suffix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goesByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAuthorized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formerChurch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.barCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberEnvelopeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.defaultTagComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solicit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstRecord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageURI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oldID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oldHouseholdID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.householdID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
