@model IEnumerable<person>

@{
    ViewBag.Title = "Details";
}

<h2>People matching "@ViewBag.SearchName"</h2>

<fieldset>
    @foreach (var item in Model)
    {
        <div class="display-field">
            @Html.DisplayFor(model => item.prefix)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => item.firstName)
        </div>

        if (item.goesByName != "")
        {
            <div class="display-field">
                "@Html.DisplayFor(model => item.goesByName)"
            </div>
        }
        
        <div class="display-field">
            @Html.DisplayFor(model => item.middleName)
        </div>
        
        <div class="display-field">
            @Html.DisplayFor(model => item.lastName)
        </div>

        <!--
        <div class="display-field">
            <img src="@item.imageURI?mode=demo" alt="No photo on file" />
        </div>
        -->
        <br />
    }
</fieldset>
<p>
    @Html.ActionLink("Search Again", "Index")
</p>
