@model IEnumerable<FellowshipTest.Models.Person>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Message</h2>

<fieldset>
    @foreach (var item in Model)
    {
        <a href="Details/@item.id">
            @Html.DisplayFor(model => item.firstName)

            @if (item.goesByName != "")
            {
                @Html.DisplayFor(model => item.goesByName)
            }
        
            @Html.DisplayFor(model => item.middleName)
        
            @Html.DisplayFor(model => item.lastName)

            <br />
        </a>
    }
</fieldset>
<p>
    @Html.ActionLink("Search Again", "Index")
</p>
